#grad {
    background-image: linear-gradient( to bottom,#3f1f5a
    , black,#3f1f5a, black);
    height: 8000px;
}

.hero-image {
  background-image: url("https://ormuco.com/wp-content/uploads/2019/01/Ormuco-Designs-8.png");
  background-color: #00f7ff;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

@font-face {
    font-family: Times;
    font-size: large;
    src: url('./assets/times new roman.ttf');
 }

.h1   
{
    color: rgb(93, 255, 247);
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%

}
.p{
    color: Azure;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    margin-left: 100px;
    margin-right: 100px;
}
    
    
.a{
color:#00f7ff;
font-size: 25px;
font-family: 'Times New Roman', Times, serif;
}


p.solid {border-style: solid;}
          
.a:hover{
    color: Azure;
}


.span{
    word-spacing: 30px;
}



.container-anisio {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 60px;
}

.moldura {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    width: 237px;
    border: dashed 9px  rgb(255, 255, 255);
}
#carouselExampleControls {
    width: 70%;
}

.akali-slider{
    max-height: 100%;

}

.icon-size{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: -50px
    
    
}

.frame {
    width: 1025px;
    height: 600px;
    border-style: dashed;
    border: 3px solid #a36200;
    background-image: linear-gradient( to bottom, black, rgb(142, 70, 175), black);
    margin: auto;
    padding: 15px 10px;
  }

  .frame2 {
    width: 1025px;
    height: 625px;
    border-style: dashed;
    border: 3px solid #a36200;
    background-image: linear-gradient( to bottom, black, rgb(142, 70, 175), black);
    margin: auto;
    padding: 15px 10px;
    display: flex
  }
  .frame3 {
    width: 350px;
    border-radius: 25px;
    height: 466px;
    border-style: dashed;
    border: 3px solid #000000;
    background-image: linear-gradient( to bottom, black, rgb(0, 0, 0), black);
    margin: auto;
    padding: 15px 10px;
    display: flex
  }
  
  .img2 {
    width: 100%;
    height: 100%;
    display: flex
  }

  .img3 {
    width: 100%;
    height: 100%;
    display: flex
    
  }

  .img {
    width: 100%;
    height: 100%;
    display: flex
  }
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    flex: 10%;
    padding: 100px;
  }
  
  /* Clear floats after image containers */
  .row {
    display: flex;
  }

  .carousel_slide {
    width: 50%;
    height: 50%;
    display: flex

  }
