#grad {
    background-image: linear-gradient( to bottom, black, rgb(50, 16, 117), black);
    height: 5000px;
}


@font-face {
    font-family: Monaco;
    font-size: large;
    src: url('./assets/monaco.ttf');
 }

.h1   
{
    color: rgb(255, 251, 34);
    font-family: Monaco;
    font-size: 225%

}
.p{
    color: Azure;
    font-family: Monaco;
    font-size: 225%;
    margin-left: 50px;
    margin-right: 50px;
}
    
    
.a{
color: #ccffdd	;
font-size: 50px;
font-family: Monaco;
}
          
.a:hover{
    color: Azure;
}


.span{
    word-spacing: 30px;
}



.container-anisio {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 60px;
}

.moldura {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    width: 237px;
    border: dashed 9px  rgb(255, 251, 34);
}
#carouselExampleControls {
    width: 70%;
}

.akali-slider{
    max-height: 100%;

}

.icon-size{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px
    
    
}